.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  padding: 7.5px;
}

.pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
}
